.Rproj.user
.Rprofile
*.Rproj
.Rhistory
.RData
.Ruserdata
dev/
results_simulations/
misc_cli.txt
renv/
resultats_simus_david/
presentations/
*.pdf
*.zip
.DS_Store
studying_weighting_fn/
sandbox.R
non_normal_distributions.R
debugging/
archive/
